:root {
    --Primary-Blue: hsl(223, 87%, 63%);
    --Secondary-PaleBlue: hsl(223, 100%, 88%);
    --Secondary-LightRed: hsl(354, 100%, 66%);
    --Neutral-Gray: hsl(0, 0%, 59%);
    --Neutral-VeryDarkBlue: hsl(209, 33%, 12%);
    --Primary-font-family: "Libre+Franklin", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.header--container {
    text-align: center;
}

.header__img--style {

}

.content--container {
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100vw
}